.wrap {
  padding: 20px;
  .test {
    color: red;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > span {
      flex: 1;
      text-align: center;
      display: inline-block;
    }
  }
}
